// Colors
:root {
  // Light theme
  ---accent: #3B536B;
  ---background: #fff;
  ---logo: 'ğ’›ğ’‚ğ’„ğ’Œğ’”ğ’‰ğ’‚ğ’—ğ’†.ğ’…ğ’†ğ’—';
  ---text: #111;

  @media (prefers-color-scheme: dark) {
    // Dark theme
    ---accent: #2EB87A;
    ---background: #111;
    ---text: #fff;
  }
}

// Utilities

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Typography

body {
  background-color: var(---background);
  color: var(---text);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: clamp(0.875rem, -0.875rem + 4.333vw, 1rem);
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.5;
  scrollbar-color: var(---accent);
}

p:first-child {
  margin-top: 0;
}

a {
  color: var(---text);
  font-weight: 400;
  text-decoration: none;
  transition: color 0.25s ease;

  &:hover, &:active, &:focus {
    color: var(---accent);
  }
}

h1, h2, h3, h4, h6 {
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid serif, Times, Source serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 0 16px 0;
}

h1 {
  font-size: clamp(1.5rem, -0.875rem + 4.333vw, 2rem);
}

h2 {
  font-size: clamp(1.25rem, -0.875rem + 4.333vw, 1.5rem);
}

h3 {
  font-size: clamp(1.125rem, -0.875rem + 4.333vw, 1.25rem);
}

// Layout

html {
  accent-color: var(---accent);
}

.layout-container {
  margin: 0 auto;
  max-width: 888px;
  padding: 16px;
}

.container {
  margin: 0 auto;
  max-width: 888px;
}

.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  margin: 0 0 32px;
  place-items: center;
}

.scroll-grid {
  display: flex;
  gap: 16px;
  margin: 0 0 32px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  @media screen and (min-width: 480px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    overflow-x: hidden;
    place-items: center;
    scroll-snap-type: y mandatory;
  }

  li {
    flex: 1 0 calc(100vw - 64px);
    scroll-snap-align: start;
  }
}

// Images

img {
  display: block;
  height: auto;
  margin: 0 0 10px 0;
  max-width: 100%;
}

picture.hero img {
  margin: 0 0 16px 0;
}

// Nuxt content

.nuxt-content {
  a {
    text-decoration: underline;
  }
}
